<p ng-class="{ editing: isEditable }" contenteditable="{{ isEditable }}">
    Click the 'edit' button to change this text to whatever you want!
</p>
<p ng-class="{ editing: isEditable }" contenteditable="{{ isEditable }}">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum purus magna, nec condimentum eros lacinia eget. Maecenas varius urna sed mattis commodo. Nulla eget enim eget magna efficitur interdum eget quis est. Vestibulum id purus eleifend, vulputate arcu a, luctus risus. In rutrum, tortor nec facilisis finibus, erat ex congue lacus, vitae accumsan est velit non libero. Aliquam erat volutpat. Fusce commodo auctor placerat. Curabitur sodales, risus nec cursus mattis, magna ex tempor augue, at posuere nisi diam non ipsum. Phasellus ante nibh, faucibus ac vestibulum ac, malesuada gravida nisi. Vivamus vehicula, neque ut interdum pretium, ligula velit cursus est, et fermentum dui diam quis nulla. Maecenas sollicitudin lorem et enim consectetur, ut ornare nibh porta.
</p>
<button class="btn" ng-hide="isEditable" ng-click="editContent()">Edit</button>
<button class="btn" ng-hide="!isEditable" ng-click="submitContent()">Submit</button>
